body{
    font-family: 'inter', sans-serif;
}
.logo{
    width: 70px;
    
}
.closeMenu{
    display: none;
}
.mobileShowLink{
    margin: 10px 0;
    position:absolute;
    z-index: 5;

    /* transition: all 0.5; */
}
.dropdown li a:hover{
    background-color: green;
}

.carousel{
    position-try: relative;
    /* height: 100vh; */

}
.movingRightBtn{
    top:50%;
    right:0 ;
}
.movingleftBtn{
    top:50%;
    left:0 ;
}

.carousel-Items{
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    padding: 20px;

}










@media (max-width: 768px) {
    .navBar{
        display:none;
    }
  }